<% include ../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">Purrfect Match</p>
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
      <button id="adoptBtn" class="btn btn-success btn-lg">Adopt Me!</button>
    </div>
    <div id="adoptModal" role="dialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close">&times;</button>
            <h4 class="modal-title">Confirm Adoption for <%= feline.name %>!</h4>
          </div>
          <div class="modal-body">
            <% if(currentUser) { %>
            <img src="<%= feline.image %>" id="imagepreview" style="width: 350px; height: 244px;">
            <hr>
            <p><strong>Breed: <%= feline.breed %></strong></p>
            <p><strong>Age: </strong><%= feline.age %></p>
            <p> <strong>Description:</strong> <%= feline.description %></p>
            <br>
            <p><strong>Do you wish to continue with this adoption?</strong></p>
            <% } else { %>
            <p>Please <a href="/login">Login</a>!</p>
            <% } %>
          </div>
          <div class="modal-footer">
            <% if(currentUser) { %>
            <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
            <button id="confirmAdopt" type="button" class="btn btn-success">Adopt!</button>
            <% } else { %>
            <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
            <% } %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="thumbnail">
        <img class="img-responsive" src="<%= feline.image %>">
        <div class="caption-full">
          <h4 class="pull-right"><%= feline.age %></h4>
          <h4><%= feline.name %></h4>
          <p><strong>Breed: <%= feline.breed %></strong></p>
          <p><%= feline.description %></p>
          <p><em>Created By <strong><%= feline.author.username %></strong></em></p>
          <% if(currentUser && feline.author.id.equals(currentUser._id)) { %>
            <a class="btn btn-warning" href="/felines/<%= feline._id %>/edit">Edit</a>
            <form id="delete-form" action="/felines/<%= feline._id %>?_method=DELETE" method="POST">
              <button class="btn btn-danger">Delete</button>
            </form>
          <% } %>
        </div>
      </div>
      <div class="well">
        <div class="text-left">
          <a class="btn btn-primary" href="/felines/<%= feline._id %>/comments/new">Add New Comment!</a>
        </div>
        <hr>
        <% feline.comments.forEach(function(comment){ %>
        <div class="row">
          <div class="col-md-12">
            <strong><%= comment.author.username %></strong>
            <span class="pull-right">10 days ago</span>
            <p><%= comment.text %></p>
            <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
            <form id="delete-comment" action="/felines/<%= feline._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
              <input type="submit" class="btn btn-xs btn-danger" value="Delete">
            </form>
            <% } %>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#adoptBtn').click(function() {
      $('#imagepreview').attr('src', $('#imageresource').attr('src'))
      $('#adoptModal').modal('show');
    });
  });
</script>

<% include ../partials/footer %>